<h1>Add Cropplan Field</h1>


<%= link_to 'Back', :controller => "cropplans", :action => "edit", :id => session[:s_cropplan_id] %>
<%= render 'form' %>
<br>
<%= link_to 'Back', :controller => "cropplans", :action => "edit", :id => session[:s_cropplan_id] %>
<br><br>