<h1>Add Cropplan to Field</h1>


<%= link_to 'Back', :controller => "fields", :action => "edit", :id => session[:s_field_id] %>
<%= render 'crop_form' %>
<br>
<%= link_to 'Back', :controller => "fields", :action => "edit", :id => session[:s_field_id] %>
<br><br>