<br>
<h1> Add PO line</h1>
<br>
<%= link_to 'Back', :controller => "pos", :action => "edit", :id => session[:s_po_id] %>
<%= render 'form' %>
<br>
<%= link_to 'Back', :controller => "pos", :action => "edit", :id => session[:s_po_id] %>
<br><br>