<h1>Add Supply</h1>
<%= link_to 'Back', :controller => "farmjobs",  :action => "edit", :id => session[:s_farmjob_id]  %>
<br>
<%= render 'form' %>
<br>
<%= link_to 'Back', :controller => "farmjobs",  :action => "edit", :id => session[:s_farmjob_id]  %>
<br>