<h1>Add Farm Expense</h1>
<%= link_to 'Back', :controller => "farms",  :action => "edit", :id => session[:s_farm_id] %>
<br>
<%= render 'form' %>
<br>
<%= link_to 'Back', :controller => "farms",  :action => "edit", :id => session[:s_farm_id] %>
