


<p><%= @user.name %>,</p>

<p>Thank you for registering! We at iFarmService look forward to providing you with the quality tools that you need to manage your farm.</p>


<p><%= link_to "Edit Your Profile", edit_user_url(@user, :host => "www.ifarmservice.com") %></p>



<div id="homepageh0">
	<span>iFarmService</span>
</div>