<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->


<br> 
<h1>Job calendar</h1>
<% store_location %>
(<label class="plan"><i>Plan</i></label>-<label class="inprocess"><i>In Process</i></label>-<label class="complete"><i>Complete</i></label>)

<%= raw(event_calendar) %>
