
<table class="twocolumn">

		<tr>
			<td id="cellline" width="50%">	 	
 				<%= render 'equipmentjob_view' %>
			</td>
			
			<td id="cellline" width="50%">
				<%= render 'equipmentactivity_view' %>
			</td>
			

		</tr>
</table>
 
