


<script type="text/javascript"> 
function checkisprotected() {
		
		if (document.typ.type_type_isprotected.checked == true) {
		   document.typ.type_typename.disabled=true;  
		   document.typ.type_type_value_string.disabled=true;
		   document.typ.type_type_value_integer.disabled=true;
		   document.typ.type_type_boolean.disabled=true;
		   document.typ.type_type_isprotected.disabled=true;
		   document.typ.type_submit.disabled=true; 
		   
		}
}
</script>

<br>
<h1>Editing type</h1>
<%= link_to 'Back', '/typeview' %>
<br>
<%= render 'form' %>


<%= link_to 'Back', '/typeview' %>
