
.menu {
 	
	background-color: #F6F9ED;
 
}


#globalNavDiv  
{
	font-size:100%;
    color: black;
	background-color:whitesmoke;
	border: solid 1px lightgray;
	padding:7px;
	
	 
}
#globalNavDiv li
{
    display: inline;
    padding: 0px 10px;
	color: black;
	
}
#globalNavDiv li a
{
	color: black;
    text-transform: none;
    text-decoration: none;
}
 
#globalNavDiv li a:hover
{
    font-size:110%;
	color: #6495ED;
}

#menu1, #menu2, #menu3, #menu4, #menu5
{
    position: absolute;
    top: 70px;
    

}
#menu1 a:hover, #menu2 a:hover, #menu3 a:hover, #menu4 a:hover, #menu5 a:hover
{
     color: white;
}
#submenu1, #submenu2, #submenu3, #submenu4, #submenu5
{
    background-color: whitesmoke;
    border: 1px solid #a3a3a3;
	font-size: 11px;
	opacity: .9;
    z-index: 1000;
}
 
#submenu1 a, #submenu2 a, #submenu3 a, #submenu4 a, #submenu5 a
{
    border-top: 1px solid #fdd3df;
    display: block;
    color: black;
    text-decoration: none;
    padding: 5px 15px 5px 5px;
}
 
#submenu1 a:hover, #submenu2 a:hover, #submenu3 a:hover, #submenu4 a:hover, #submenu5 a:hover
{
    color: orange;
}

#submenu1.1, #submenu1.2 
{
    background-color: #1E1E1E;
    border: 1px solid #a3a3a3;
	font-size: 12px;
    z-index: 1000;
}
 
#submenu1.1 a, #submenu1.2 a 
{
    border-top: 1px solid #fdd3df;
    display: block;
    color: #fdd3df;
    text-decoration: none;
    padding: 5px 15px 5px 5px;
}
 
#submenu1.1 a:hover, #submenu1.2 a:hover 
{
    color: #ffffff;
}

#wrapperDiv
{
    position: relative;
}

#menu1
{
     left: 0px;
}
#menu2
{
    left: 0px;
}
#menu3
{
     left: 0px;
}
#menu4
{
    left: 0px;
}
#menu5
{
    left: 0px;
}
#submenu1, #submenu2, #submenu3, #submenu4, #submenu5 
{
    position: absolute;
    top: 0px;
}
#submenu1
{
     left: 0px;
}
#submenu2
{
    left: 0px;
}
#submenu3
{
     left: 0px;
}
#submenu4
{
    left: 0px;
}
#submenu5
{
    left: 0px;
}

 

#menu1, #menu2, #menu3, #menu4, #menu5
{
    top: 105px;
}

#submenu1, #submenu2, #submenu3, #submenu4, #submenu5
{
    top: 127px;
}

 

#menu1
{
    left: 120px;
}
#menu2
	{
	left: 240px;
}
#menu3
{
    left: 390px;
}
#menu4
	{
	left: 540px;
}
#menu5
	{
	left: 660px;
}
#submenu1
{
    left: 120px;
}
#submenu2
{
    left: 240px;
}
#submenu3
{
    left: 390px;
}
#submenu4
{
    left: 540px;
}
#submenu5
{
    left: 660px;
}

 
#menu1, #menu2, #menu3, #menu4, #menu5
{
    visibility: visible;
}
#submenu1, #submenu2, #submenu3, #submenu4, #submenu5
{
    visibility: hidden;
}

 