
			
          

			<table class="profile" summary="Profile information">
				<tr>
					<td></td>
					<td align="left"
						<%= will_paginate %>
						<br><br>
					</td>
				</tr>
				
				    <td></td>
					<td align="left">
				        <h1>Farm community members</h1>
						
			         </td>
				</tr>
				
	
				
				
				<% @users.each do |user| %>			
				<tr>				 
						<%= render user %>				 	
				</tr>
				<% end %>
				
				
				<tr>
					<td></td>
				</tr>
				<tr>						
					<td></td>
					<td align="left">
						<br>
						<%= will_paginate %>
						<br>
					</td>
	
				</tr>
			</table>

