 
<% unless current_user?(@user) %>
	<div if="follow_form">
		 <% if get_current_user.following?(@user) %>
			<%= render 'shared/unfollow' %>
		<% else %>
			<%= render 'shared/follow' %>
		<% end %>
		
	</div>
<% end %>
 
	
 
