
<%= form_for @micropost do |f| %> 
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		
		<%= f.text_area :content,
		                :rows => 4,
		                :cols => 60 ,
		                :maxlength => 140 %>
	</div>
	<div class="actions">
		<%= f.submit "Submit post" %>
	</div>
	
<% end %>
