 
<% @user ||= get_current_user %>		 
	<div class="stats">
		<table summary="User stats">
			<tr>
				<td>
					
	  				<a href= "<%= followers_user_path(@current_user.id) %>">
		 
						<span id="followers" class="stats">
							<%= @current_user.followers.count %> Following me
						</span> 
					</a>
 					<br>
					
					<a href= "<%= following_user_path(@current_user.id) %>">
		 
						<span id="following" class="stats">
							<%= @current_user.following.count %>  I'm following 
						</span> 
					</a>
					<br><br>
					<a href="/mynetwork"><strong>my Community</strong></a> <br />
					<a href="/users"><strong>All Farmers</strong></a> <br />
				</td>
			</tr>
		</table>
		
	</div>
 
	
 
