	<br>	 	 
<div class='topics'>
 
	  <a href="/overview">	 
		<br>
       	Check out the system overview
	  </a>	
 		<br>
 
		 	<br>
       	Comprehensive functionality
	<br>
	 

	<br>
       	Effective business management
	<br>
	
		  
	<br>
       	Flexible and Easy to use
	<br>
	 
	
	 
	 	 	<br>
       	Support and answers when you need them
		<br>
	 
	
 
	 	 	<br>
       	Great technology
			<br>
	  
	
	 
	 	   	<br>
        Use it wherever you have an Internet connection
				<br>
 
	
	  
	 	 	<br>
       	 Stay aligned with the best web features
			<br>
	  
	
	 	 	<br>
    	 Makes record keeping a breeze
			<br> 

	 	<br>
	 	Detailed profitability analysis
		<br>
		
	 	 	<br>
   	 	Depreciation and Cost of ownership schedules
			<br>
			
	 	 	<br>
    	Farm retail for local community sales
			<br>

	 	 	<br>
    	Historical weather tracking
			<br>
		
	 	 	<br>
    	Field mapping and area calculation
			<br>
<br>
<br>
</div>
 