
<div id="homepageh1">About us</div>

<div class="homepage">
<p><br>
	<a href=""> Who are we? And, why should you trust us? </a> <br><br>
	Well the simple matter is that you shouldn't trust us. We should earn your trust. As we stated in our homepage heading "Services to help the small and medium size farmers manage their crops and their business in a cost effective way."  we really intend to help farmers, through information, enhance and increase their business.  Aside from offering really cool web based technologies we want to provide you with relevant information and options to "enhance " (grow) your business and, to do so,  at a ridiculous price. So.... please check out our website gain access to our software. You can have free reign. If you like it and want to sign up (woooohoooo) just go to our subscription page.
	
	<br><br>Rest assured we will do everything we can to earn and maintain the honor of serving you as a valued customer.
	</p>
</div>

	<br>	<br>	 