 
<p id="contact_stage">
 	Contact us
</p> 
<div class="homepage">
<p>
 
	We look forward to giving you excellent customer service. 
	 <br>
	Please email us with any questions or comments you may have at
	 <br><br>
	<%= link_to "customer.support@ifarmservice.com", "/contact" %>
	 <br><br>
	We will try our best to answer your questions and assist you in using our Farm Services.
	
	<br><br>Thanks for giving us a chance to serve you. Farmers rock.
	</p>
</div>

	<br>	<br>