<div id="homepageh1">Contact us
<br><div id="homepageh1">iFarmService</div>  </div>
<div class="homepage">
<p>
	 <br>
	We look forward to establishing a relationship with you. Please email us at <a>customer.support@ifarmservice.com</a>.<br>
	We will try our best to answer your questions and assist you in using our Farm Services.
	
	<br><br>Thanks for giving us a chance to serve you. Farmers rock.
	</p>
</div>

	<br>	<br>