<div id="homepageh1">iFarmService Overview</div>

<div class="tutorialpage">
<br>
<div id="form_header">
	iFarmService is an easy to use job scheduling and costing system <br> All features are consistent in appearance and usage. 
	<br>
	It is preloaded with basic farming related data so that you don't have to do too much work to get up and running.
	<br>
</div>


	<br> 
	
 <table>
	<tr>
		<td>
			<div id="tutorial_header">	
	 		 	<p id="tutorial_head">
				 	Define your basic farm profile which includes people, businesses, fields and crops. 
				</p>
				<p id="tutorial_point">
				   Parties refer to people and organizations. There are several different types of parties.
				</p>
				<p id="tutorial_bullet">
					<br>User - owner/user of the iFarm Service account 
					<br>Employee - people who are employed by the farm. (supervisor/foreman) 
					<br>Labor machine - people who operate farm machinery 
					<br>Labor non machine - people who perform basic work on the farm 
					<br>Supplier - business/person who supplies are purchased from on a purchase order.
					<br>Broker - Sales agent recorded on shipments for commission purposes.
					<br>Customer - Business who harvested crops are sold and shipped to 
					<br>Landlord - Land owner if fields are leased
					<br>Client - Farmers that a farm management enterprise provides service to 
					<br>Billing source - Assigned to each farm for invoice billing information
					<br>Test labs - organizations that perform soil tests and crop quality tests.
				</p>
				<p id="tutorial_point">
				   Farms set total acreage. Additionally, you can enter overhead expenses for the farm which
				   will be presented in your profitability statements.
				   Fields define the specific characteristic's of the land being farmed. You can have unlimited
				   fields for a farm.
				   Farm jobs are performed on fields. Crops are assigned to fields. Fields are mapped through 
				   google maps which allows specific visual boundary definition. Field properties include:
				</p>
				<p id="tutorial_bullet">
					Field name
					<br>Number of acres
					<br>Holding status
					<br>Map location
					<br>Landlord - field owner
					<br>Client - of farm management enterprise
					<br>Yearly land expense
					<br>Soil test labs
					<br>Soil test results
					<br>Row definition - if desired 
				</p>
				<p id="tutorial_point">
				   Crops are selected from a global list and then specific crop information is entered. Crop plans 
				   define a seasonal crop initiative which is tracked in farm jobs for costs and ultimately harvested
				   for revenue. 
				   Crop properties include:
				</p>
				<p id="tutorial_bullet">
					General crop name (ex. Soybeans)
					<br>Specific crop name (ex. low linolenic)
					<br>Harvest unit of measure (ex. bushels)
					<br>Inventory unit of measure (ex.tons, lbs)
					<br>Harvested crop price - (can be defined also in a contract)
					<br>Average yield per acre - (overall for crop and by yearly crop plan)
					<br>Seed supplier
					<br>Seed variety
					<br>Seed rate per acre
					<br>Planting depth
					<br>Moisture content
				</p>		 			 

			</div>
			
			<div id="tutorial_header">
 		<p id="tutorial_head">
			 	Establish your farm assets that will be used in managing farm jobs.
			</p>
			<p id="tutorial_point">
			   Assets include the farm tasks (work), supplies, equipment and storage areas. Once defined
			   these assets are simply selected to construct farm jobs. Labor is defined within the
			   parties definition and is also available to be assigned to a farm job. 
			   <br> <br> 
			   Farm tasks define work to be performed. Task properties include
			</p>
			<p id="tutorial_bullet">
				Task name
				<br>Task type  - method to group tasks logically for your farm
				<br>Task stage - (pre-plant, plant, grow, harvest, post-harvest) used in profitability reports.
				<br>Task notes
				<br>Task frequency and duration - used to auto generate tasks over a period.
				<br>Supplies - can be assigned to tasks once and will be carried into the farm
				    job definition

			</p>
			<p id="tutorial_point">
			   Supplies are all of the products that are used while executing a farm job.
			   Supply properties include:
			</p>
			<p id="tutorial_bullet">
				Supply name
				<br>Item ID
				<br>Purchase unit of measure (ex. tons)
				<br>Purchase cost
				<br>Usage unit of measure  (ex lbs)
				<br>Purchase/Usage UOM conversion factor (ex 2000)
				<br>Rate of usage per acre
				<br>E.P.A. id for restricted use supplies
				<br>Manufacturer
				<br>Formulation
				<br>Problem targeted
			</p>
			<p id="tutorial_point">
			   Equipment are the major capital assets that are used in farm jobs. Equipment 
			   usage costs can be applied to farm jobs. Equipment properties include:
			</p>
			<p id="tutorial_bullet">
				Ability to track equipment usage against service frequencies.
				<br>Equipment description
				<br>Year/model
				<br>Manufacturer
				<br>Serial number
				<br>Date of purchase
				<br>Purchase price
				<br>Usage cost  (per hour)
				<br>Usage charge (farm management)
				<br>Equipment width
				<br>Ability to attach photos of the equipment
			</p> 
			
			<p id="tutorial_point">
			   Storage units are defined for tracking of Crops and supply inventory. They include location
			   and size related information.
			</p>
			</div>
 
				<div id="tutorial_header">			 	 
			  
			<p id="tutorial_head">
				 		Farm jobs are the core of farm management. They identify the work performed and the various costs associated with the work. 
				</p>
				<p id="tutorial_point">
				   Farm jobs represent a job scheduling and costing feature of farm management. 
				   Farm jobs can be used to plan a season and track the actual work performed 
				   along with all relevant costs.
				   <br> <br> 
				   Farm job properties include:
				</p>
				<p id="tutorial_bullet">
					Field task -(defines the work)
					<br>Field - (where work is to be performed)
					<br>Crop plan - (which crop initiative will receive the costs)
					<br>Total acres - (number of acres for the job)
					<br>Calendar based scheduling
					<br>Start and stop dates
					<br>Total hours of complete job
					<br>Job status (plan, in-process, completed)
					<br>Notes
					<br>Simple task replication based on task defined frequencies
					<br>Assignment of supplies, labor and equipment 
					<br>Supplies assigned to the task will be imported
					<br>Costs for total job, supplies, labor and equipment

				</p>
				<p id="tutorial_point">
					Reporting
					<br><br>Farm jobs can be dynamically selected for a
				</p>
				<p id="tutorial_bullet">
					
					- Specific task
					<br>- Specific field
					<br>- Specifc crop
					<br>- Specific job status
					<br>Select the crop year and date range of activity.
					<br>The report can then be sorted by any of the above views.
					<br>All relevant cost information is presented with each job and then totaled for the report.
				</p>		 
			</div>
 				
 
				<div id="tutorial_header">			 	 
			<p id="tutorial_head">
				 	Crop Sales and Inventory are the main financial components of the farm management system. 
				     			 
				 	
				</p>
				<p id="tutorial_point">
				   We allow you to write purchase orders and receive supplies.
				   We track both crop and supply inventory. On the sales side you can define
				   customer contracts for seasonal pricing. Scale tickets are entered to capture
				   crop yield on a field by field and crop by crop basis. Crop inventory can be graded.
				   Shipments and manifests can be generated. Profitability can be established.
				   <br> <br> 
				   Inventory properties include
				</p>
				<p id="tutorial_bullet">
					Ability to write and receive purchase orders
					<br>Maintain supplies inventory
					<br>Relieve supplies inventory by completing farm jobs
					<br>Ability to track restricted use chemicals and fertilizers
					<br>Generate Scale tickets 
					<br>Capture crop yields
					<br>Maintain crop inventory by location
					<br>Ability to grade crop inventory
					<br>Crop inventory relieved through shipments
					

				</p>
				   <br> <br> 
				<p id="tutorial_point">
				   Sales properties include
				</p>
				<p id="tutorial_bullet">
					Ability to establish pricing through customer contracts
					<br>Generate shipments direct to a customer or contract
					<br>Establish shipping charges
					<br>Generate customer invoices
					<br>Ability to assign brokers and commissions to shipments
					<br>Create Ship manifests
					<br>Shipment notes
					<br>Track shipped crop inventory back to a specific field
					<br>Generate invoices based on shipments
				 
					

				</p>
				
				<p id="tutorial_point">
					Reporting
					<br><br>Profitability reports present revenue, expenses and costs and establish base
					profit positions.
					<br>Profitability reports can be selected for a 
				</p>
				<p id="tutorial_bullet">
					
					- Specific farm
					<br>- Specific crop year/season
					<br>- Specific date range of activity
			  
					<br>
					<br>Several reports are produced.<br>
					<br> - Detailed Cost analysis.
					<br> - Profit statement with Revenue, expenses, costs and net profit position.
					<br> - Month based cost analysis for cash flow purposes
					<br> - Range analysis for yield and price modeling.
					
				</p>		
				</div>
 </table>
	</tr>
		</td>				
			 
 </div>
 	