<table class="fieldmap">
  <tr>
	<td>
		<%= gmaps({
   
		    "markers"     => { "data" =>  @json },
			"map_options" => {  "zoom" => 15, "type" => "SATELLITE", "center_longitude" => 180, "auto_adjust" => true, "auto_zoom" => false },
			"polygons"    => { "data" => @json_polygon }
			})
		    %>
	</td>
  </tr>
</table>
 

 

	
 

 
