
<footer>
	<div class="footer">
	<%= yield :scripts %>
	<nav class="round">
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			 <li><a href="#" onclick="newspopup()">Ag News</a></li>
			<li><%= link_to "iFarmService Tutorial", tutorial_path %></li>
		</ul>
	</nav>
	</div>
</footer>