
<table class="twocolumn">

		<tr>
			<td id="cellline">
		 	
 				<%= render 'supplies_view' %>
			</td>
			
			<td id="cellline">
				<%= render 'parties_view' %>
			</td>
			
			<td id="cellline">
 				<%= render 'equipment_view' %>
			</td>
		</tr>
</table>
 
